
<div id="wrapper">

  <div id="left-col">
    <div class="header">List of Words</div>
    <% @words.each do |word| %>
      <p><%= word %></p>
    <% end %>

  </div>

  <div id="right-col">
    <div class="header">Anagram count</div>
    <div id="anagrams">

    </div>
  </div>

  <div id="footer">
    We are currently counting the words in the list: <span id="word_count">0</span> have been counted
  </div>  

</div>

